.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.container-full-size {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.atributos {
    width: 15%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 10px;
}

.tabla {
    width: 85%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 10px;
}

.table-reporte {
    width: 15rem;
    background-color: #dadada;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.table-reporte td {
    color: black;
}

.table-reporte thead {
    background-color: #a9a9a9;
    color: black;
    height: 3rem;
}

.table-reporte tbody tr {
    background-color: #f5f5f5;
    color: black;
    height: 3rem;
    margin: 10px;
}

.table-reporte tbody td {
    padding: 10px;
}

.container-table {
    display: flex;
}

.reportes-body {
    display: flex;
    overflow: auto;
}